<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kona Dashboard</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <body>
    <div class="nav">
      <a href="/"><img id="logo" src="/static/logo/logo.jpeg" alt="logo" /></a>

      <a href="#dashboard">Dashboard</a>

      <a href="#history">History</a>
      <a href="#portal">About</a>
      <a href="#ai-content">Privacy Policy</a>
      <a href="#account">Account</a>
    </div>

    