{% include "header.html" %}
    <div class="mpage" id="ud">
      <div class="box">
        <br />
        <a
          style="text-decoration: none; color: white; font-weight: bold"
          href="/run_model/video/"
        >
          <h3>Video upload</h3>

          <h3>
            <i class="material-icons" style="font-size: 60px; color: lightblue"
              >upload_file</i
            >
          </h3>
        </a>
      </div>

      <div class="box">
        <br />
        <div>All Pdf files</div>
        <h3>Total</h3>
        <h1>{{ pdfs|length }}</h1>
      </div>
    </div>
    <div class="search_wrapper">
      <div class="search_box">
        <form action="" method="get">
          <input
            type="text"
            placeholder="Search pdf.."
            name="search_input"
            value="{{search_input}}"
          />
          <button type="submit">Search</button>
        </form>
      </div>
    </div>

    <div id="history" class="page">
      <h1 id="h">PDF Files</h1>
      {% for pdf in pdfs %}
      <div class="pdf_file_box">
        <p>{{pdf.pdf_title}}</p>
        <p>{{pdf.pdf_id}}</p>
        <!-- <p >pdf file</p> -->
        <!-- <h1>Download PDF</h1> -->
        <a href="/media/pdfs/{{pdf.pdf_title}}" download="{{pdf.pdf_title}}">
          <!-- <button>Download PDF File</button> -->
          <h5 id="d-btn"><i class="material-icons">cloud_download</i>
          </h5>
        </a>
        <!-- <p class="pdf_box_button">Download pdf</p> -->
      </div>
      {%empty%}
      <span class="page"> No Pdf Found</span>
      {% endfor %}
    </div>

   
  </body>
</html>
